<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="couchbaseClients">
            <section name="couchbase" type="Couchbase.Configuration.Client.Providers.CouchbaseClientSection, Couchbase.NetClient" />
        </sectionGroup>
    </configSections>
    <couchbaseClients>
        <couchbase useSsl="false">
            <servers>
                <add uri="http://localhost:8091/pools"></add>
            </servers>
            <buckets>
                <add name="default" useSsl="false" password="">
                    <connectionPool name="custom" maxSize="10" minSize="5" sendTimeout="12000" />
                </add>
            </buckets>
        </couchbase>
    </couchbaseClients>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>